# Test output directories
tests/workdir/output/*
tests/workdir/temp/*
workdir/output/*
workdir/temp/*

# This keeps getting in the way.
.vscode/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/**

# MacOS directory metadata
.DS_Store
